:root {
  --bg: #f3f4f6;
  --surface: #ffffff;
  --ink: #363636;
  --black: #000;
  --brand:#111;
  --chip-active:#202020;
  --secondary: #666666;
  --darkgray: #333;
  --muted: #4E4E4E;
  --line: #f6f6f6;
  --line-border: #ddd;
  --update: #FF4773;
  --error: #EC221F;
  --danger: #EB5757;
  --danger-sub: #EB575733;
  --accent: #0088FF;
  --primary-bl: #366FC4;
  --shadow: 0 1px 2px rgba(0,0,0,0.04), 0 6px 16px rgba(0,0,0,0.06);

  --gap: 12px;
  --container: 390px;
  --overlay: rgba(0,0,0,.5); /* dim #000 50% */
  --radius:10px;

  --font-sans: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI',
               'Apple SD Gothic Neo', 'Malgun Gothic', system-ui, sans-serif;
}
